# Dependencies
**/node_modules
**/.yarn/cache
**/.pnp.*

# Build outputs
**/dist
**/build
**/.vite

# Git
.git
.gitignore

# Environment files
.env
**/.env
.env.*
**/.env.*

# Docker data (nếu có folder local)
docker-data

# Logs
*.log
**/*.log

# Editor/OS
.vscode
.idea
**/.DS_Store
**/Thumbs.db