# Node/Yarn
node_modules
**/node_modules
.pnp.*
.yarn
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
.yarn-cache/
.yarnrc
.yarnclean

# Build
dist
build
**/dist
**/build
**/.vite

# Runtime
.pnpm-store

# Git/IDE
.git
.gitignore
.vscode
.idea

# Temporary/Editor/OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Env
.env
.env.*
**/.env
**/.env.*

# Logs
*.log
**/*.log

# Docs/tests (nếu production không cần)
docs
test
tests
__tests__
coverage

# Docker data
docker-data