# Dependencies
node_modules/

# Environment
**/.env
**/.env.*
**/*.local
!**/.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dev tools
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
src/logs/
seed/
scripts/
total-knowledge.md